<form action="/category/add" method="post">
   <h1>ADD NEW CATEGORY</h1>
   Category name: <input type="text" name="categoryname" id="categoryname" required>
   <br><br>
   Category description: <input type="text" name="description" id="description" required>
   <br><br>
    <div class="modal-footer">
               <button type="submit" class="btn btn-success">Add</button>
            </div>
</form>